/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* for demo */
.m-hero-section-wrapper {
    background-image: url(../images/explore-the-summit/mount-pulag-joanne-caselyn-kCGhXLU32Bg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
}

main > div:nth-child(2) {
    background-color: bisque;
    height: 500vh;
}

#signUpModal form {
    font-family: var(--ff-body-regular);
    font-size: var(--fz-main-p);
}