:root {
    /* Font family */
    --ff-heading-primary: "Oranienbaum", serif;

    --ff-heading-secondary: "onelove", "Brush Script MT", serif;

    --ff-body-bold: "Poppins-Bold", sans-serif;
    --ff-body-regular: "Poppins-Regular", sans-serif;
    --ff-body-light: "Poppins-Light", sans-serif;

    /* Colors */
    --clr-primary-dark: #080808;
    --clr-primary-glass: rgba(0, 0, 0, 0.8);

    --clr-secondary-100: #f0f0f0;
    --clr-secondary-400: #a1a1a1;
    --clr-secondary-700: #303030;

    --clr-accent-lights: #df8e0b;
    --clr-accent-lights-100: #dfe623;

    --clr-accent-water: #00009c;
    --clr-accent-water-100: #00a2ff;

    --clr-accent-summit: #555555;
    --clr-accent-summit-100: #bbbbbb;

    --clr-accent-history: #514026;
    --clr-accent-history-100: #b89231;
    --clr-accent-culture: #143827;
    --clr-accent-culture-100: #39970e;


    /* Font Size */
    --fz--header-title: clamp(0.5rem, 0.9vw, 0.7rem);
    --fz--header-sub: clamp(2rem, 10vw, 3rem);  
    --fz--header-menu: clamp(0.8rem, 6vw, 2.5rem);
    --fz--header-cat-title: 20vw;
    --fz--header-cat-list: clamp(1rem, 1.5vw, 2rem);

    --fz-main-h3: clamp(1rem, 3vw, 1.3rem);
    --fz-main-p: clamp(0.8rem, 1.5vw, 1.5rem);
}

/* Animations */
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand {
    100% {
        letter-spacing: 0.3vw;
    }
}