:root {
    /* Font family */
    --ff-heading-primary: "Oranienbaum", serif;

    --ff-heading-secondary: "onelove", "Brush Script MT", serif;

    --ff-body-bold: "Poppins-Bold", sans-serif;
    --ff-body-regular: "Poppins-Regular", sans-serif;
    --ff-body-light: "Poppins-Light", sans-serif;

    /* Colors */
    --clr-primary-dark: #080808;
    --clr-primary-glass: rgba(0, 0, 0, 0.8);

    --clr-secondary-100: #f0f0f0;
    --clr-secondary-400: #a1a1a1;
    --clr-secondary-700: #303030;

    --clr-accent-lights: #df8e0b;
    --clr-accent-lights-100: #dfe623;

    --clr-accent-water: #00009c;
    --clr-accent-water-100: #00a2ff;

    --clr-accent-summit: #555555;
    --clr-accent-summit-100: #bbbbbb;

    --clr-accent-history: #514026;
    --clr-accent-history-100: #b89231;
    --clr-accent-culture: #143827;
    --clr-accent-culture-100: #39970e;


    /* Font Size */
    --fz--header-title: clamp(0.5rem, 0.9vw, 0.7rem);
    --fz--header-sub: clamp(2rem, 10vw, 3rem);  
    --fz--header-menu: clamp(0.8rem, 6vw, 2.5rem);
    --fz--header-cat-title: 20vw;
    --fz--header-cat-list: clamp(1rem, 1.5vw, 2rem);

    --fz-main-h3: clamp(1rem, 3vw, 1.3rem);
    --fz-main-p: clamp(0.8rem, 3vw, 1rem)
}

/* Animations */
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand {
    100% {
        letter-spacing: 0.3vw;
    }
}

/* HEADER STARTS HERE */
.h-header-wrapper {
    /* background: rgba(0, 0, 0, 0.062);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 10vh;
    transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
}

.h-header-wrapper .navbar.row {
    height: 10vh;
}

.h-header-title {
    position: relative;
}

.h-header-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: transparent;
    font-family: var(--ff-heading-primary);
    -webkit-text-stroke: 1.5px var(--clr-accent-lights);
    font-size: var(--fz--header-sub);
    letter-spacing: calc(var(--fz--header-sub) / 3);
    transition: opacity 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title span {
    opacity: 0.5;
}

.h-header-title h2 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-secondary-100);
    font-family: var(--ff-body-regular);
    text-transform: uppercase;
    font-size: var(--fz--header-title);
    text-align: center;
    letter-spacing: calc(var(--fz--header-title) / 2);
    word-spacing: calc(var(--fz--header-title) / 2);
    transition: transform 400ms ease-in-out, color 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title h2 {
    transform: translate(-50%, calc(-50% + 50px));
    color: var(--clr-secondary-400);
}

/* Modal Button */
.h-btn-signUp {
    position: relative;
    font-family: var(--ff-body-regular);
    font-size: var(--fz--header-title);
    letter-spacing: 0.1rem;
    color: var(--clr-secondary-100);
    border: 0.05rem solid var(--clr-secondary-100);
    transition: background-color 300ms ease-in-out;
    border-radius: 1rem;
    overflow: hidden;
}

.h-btn-signUp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-secondary-100);
    width: 0;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

.h-btn-signUp:hover::before {
    width: 100%;
}

.h-btn-signUp:hover,
.h-btn-signUp:active {
    font-family: var(--ff-body-regular);
    font-size: var(--fz--header-title);
    color: var(--clr-primary-dark);
    border: 0.05rem solid var(--clr-secondary-100) !important;
}

/* Hamburger Icon */
.h-ham-container .h-btn-ham {
    width: 3rem;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.h-ham-container .h-btn-ham span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0.1rem;
    background: var(--clr-secondary-100);
    transition: width 500ms ease-out, transform 500ms ease-out;
}

.h-ham-container .h-btn-ham span:nth-child(1) {
    width: 70%;
    top: 40%;
}

.h-ham-container .h-btn-ham span:nth-child(2) {
    top: 60%;
}

/* Inside Menu before click */
.h-header-wrapper .h-nav-container {
    display: none;
    height: 90vh;
}

/* On Button Click */
/* disable scroll on body */
.h-disable-scroll {
    overflow: hidden;
}

.h-header-wrapper.h-active {
    height: 100vh;
    background-color: var(--clr-primary-dark);
    background-image: url(../images/grain.png);
    background-attachment: fixed;
    background-repeat: repeat;
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(1) {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.h-header-wrapper.h-active .h-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

/* Header menu (home, contact, about, sign up) */
.h-header-wrapper.h-active .h-nav-list {
    width: 100%;
    list-style: none;
    padding: 2rem 0;
    margin: 0 0 2rem 0;
    border: 0.1rem solid var(--clr-secondary-700);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    animation: fade-in 400ms ease-in-out 400ms forwards;
}

.h-header-wrapper.h-active .h-nav-list a {
    font-family: var(--ff-heading-primary);
    text-decoration: none;
    font-size: var(--fz--header-menu);
    text-transform: uppercase;
    color: inherit;
}

.h-header-wrapper.h-active .h-nav-list li {
    color: var(--clr-secondary-100);
    position: relative;
    text-align: center;
    transition: color 400ms ease-in-out, transform 400ms ease-in-out, letter-spacing 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-nav-list a::before {
    content: "";
    position: absolute;
    bottom: -10%;
    background-color: var(--clr-secondary-100);
    width: 0;
    height: 0.3rem;
    transition: width 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-nav-list a:hover::before {
    width: 100%;
}

.h-header-wrapper.h-active .h-nav-list li:hover {
    transform: scale(1.05);
}

.h-header-wrapper.h-active .h-nav-list li:hover~li,
.h-header-wrapper.h-active .h-nav-list li:has(~ li:hover) {
    color: var(--clr-secondary-700);
}

/* categories nav menu and image preview parent container */
.h-header-wrapper.h-active .h-categories-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* image preview parent element */
#hPreviewImage-sub {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fade-in 400ms ease-in-out 400ms forwards;
}

#hPreviewImage {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 0.001rem solid var(--clr-secondary-700);
    border-radius: 1rem;

    background-color: var(--clr-primary-dark);
    background-image:url();
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    transition-property: height, background-position;
    transition-duration: 500ms, 3000ms;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0, 400ms;
}

/* image preview */
#hPreviewImageTitle {
    display: none;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    font-family: var(--ff-body-bold);
    color: var(--clr-secondary-400);
    font-size: 5vw;
    animation: expand 400ms ease-in-out forwards 700ms;
}

/* "Explore" */
.hPreviewImageTitle-top {
    font-family: var(--ff-body-bold);
    color: var(--clr-secondary-400);
    font-size: var(--fz--header-cat-title);
    line-height: 1;
    text-shadow: none;
    opacity: 0;
    transform: scale(0.7);
    animation: zoom-in 400ms ease-in-out 400ms forwards;
}

/* "hover items below to preview */
.hPreviewImageDesc {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-400);
    font-size: var(--fz--header-title);
    text-shadow: 0 0 0.3rem var(--clr-primary-dark);
    letter-spacing: calc(var(--fz--header-title) / 2);
    text-align: center;
}

/* categories nav menu */
.h-header-wrapper.h-active .h-categories-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    color: var(--clr-secondary-400);
}

.h-header-wrapper.h-active .h-categories-list a {
    font-family: var(--ff-heading-primary);
    text-decoration: none;
    font-size: var(--fz--header-cat-list);
    color: inherit;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(1) {
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 600ms forwards;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(1):hover {
    color: var(--clr-accent-lights-100);
    text-shadow: 0 0 1rem var(--clr-accent-lights);
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(2) {
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 700ms forwards;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(2):hover {
    color: var(--clr-accent-water-100);
    text-shadow: 0 0 1rem var(--clr-accent-water);
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(3) {
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 800ms forwards;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(3):hover {
    color: var(--clr-accent-summit-100);
    text-shadow: 0 0 1rem var(--clr-accent-summit);
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(4) {
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 900ms forwards;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(4):hover {
    color: var(--clr-accent-history-100);
    text-shadow: 0 0 1rem var(--clr-accent-history);
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(5) {
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 1000ms forwards;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-categories-list li:nth-child(5):hover {
    color: var(--clr-accent-culture-100);
    text-shadow: 0 0 1rem var(--clr-accent-culture);
}

/* SIGN UP MODAL STARTS HERE*/
.modal-title {
    font-size: var(--fz-main-h3);
    font-family: var(--ff-body-regular);
}