:root {
    /* Font family */
    --ff-heading-primary: "Oranienbaum", serif;

    --ff-heading-secondary: "exmouth", "Brush Script MT", serif;

    --ff-body-bold: "Poppins-Bold", sans-serif;
    --ff-body-regular: "Poppins-Regular", sans-serif;
    --ff-body-light: "Poppins-Light", sans-serif;

    /* Colors */
    --clr-primary-dark: #080808;
    --clr-primary-glass: rgba(0, 0, 0, 0.5);

    --clr-secondary-100: #f0f0f0;
    --clr-secondary-400: #a1a1a1;
    --clr-secondary-700: #303030;

    --clr-accent-lights: #df8e0b;
    --clr-accent-water: #00009c;
    --clr-accent-summit: #f0f0f0;
    --clr-accent-history: #82735c;
    --clr-accent-culture: #143827;

    /* Font Size */
    --fz--header-title: clamp(0.5rem, 0.9vw, 0.7rem);
    --fz--header-sub: clamp(2rem, 10vw, 5rem);
    --fz--header-menu: clamp(1rem, 6vw, 3rem);
    --fz--header-cat-title: 18vw;
    --fz--header-cat-list: clamp(1rem, 1.5vw, 2rem);
}

/* Header Before Click */
.h-header-wrapper {
    background: var(--clr-primary-glass);
    background-image: url(../images/grain.png);
    background-attachment: fixed;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 10vh;
    transition: background-color 500ms ease-in-out, height 500ms ease-in-out;
}

.h-header-wrapper .navbar.row {
    height: 10vh;
}

.h-header-title {
    position: relative;
}

.h-header-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    color: transparent;
    font-family: var(--ff-heading-primary);
    -webkit-text-stroke: 1.5px var(--clr-accent-lights);
    font-size: var(--fz--header-sub);
    letter-spacing: calc(var(--fz--header-sub) / 3);
    transition: opacity 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title span {
    opacity: 0.5;
}

.h-header-title h2 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-secondary-100);
    font-family: var(--ff-body-regular);
    text-transform: uppercase;
    font-size: var(--fz--header-title);
    text-align: center;
    letter-spacing: calc(var(--fz--header-title) / 2);
    word-spacing: calc(var(--fz--header-title) / 2);
    transition: transform 400ms ease-in-out, color 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title h2 {
    transform: translate(-50%, calc(-50% + 50px));
    color: var(--clr-secondary-400);
}


.h-ham-container .h-btn-ham {
    width: 3rem;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.h-ham-container .h-btn-ham span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0.1rem;
    background: var(--clr-secondary-100);
    transition: width 500ms ease-out, transform 500ms ease-out;
}

.h-ham-container .h-btn-ham span:nth-child(1) {
    width: 70%;
    top: 40%;
}

.h-ham-container .h-btn-ham span:nth-child(2) {
    top: 60%;
}

/* Inside Menu before click */
.h-header-wrapper .h-nav-container {
    display: none;
    height: 90vh;
}

/* On Button Click */
.h-header-wrapper.h-active {
    height: 100vh;
    background-color: var(--clr-primary-dark);
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(1) {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.h-header-wrapper.h-active .h-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.h-header-wrapper.h-active .h-nav-list {
    width: 100%;
    list-style: none;
    padding: 2rem 0;
    margin: 0 0 2rem 0;
    border-top: 0.1rem solid var(--clr-secondary-700);
    border-bottom: 0.1rem solid var(--clr-secondary-700);
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    animation: fade-in 400ms ease-in-out 400ms forwards;
}

.h-header-wrapper.h-active .h-nav-list a {
    font-family: var(--ff-heading-primary);
    text-decoration: none;
    font-size: var(--fz--header-menu);
    text-transform: uppercase;
    color: inherit;
}

.h-header-wrapper.h-active .h-nav-list li  {
    color: var(--clr-secondary-100);
    position: relative;
    text-align: center;
    transition: color 400ms ease-in-out, transform 400ms ease-in-out, letter-spacing 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-nav-list a::before  {
    content: "";
    position: absolute;
    bottom: -10%;
    background-color: var(--clr-secondary-100);
    width: 0;
    height: 0.3rem;
    transition: width 300ms ease-in-out;
}

.h-header-wrapper.h-active .h-nav-list a:hover::before  {
    width: 100%;
}

.h-header-wrapper.h-active .h-nav-list li:hover  {
    transform: scale(1.05);
}

.h-header-wrapper.h-active .h-nav-list li:hover ~ li,
.h-header-wrapper.h-active .h-nav-list li:has(~ li:hover) {
    color: var(--clr-secondary-700);

}

.h-header-wrapper.h-active .h-categories-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.h-header-wrapper.h-active .h-categories-container div {
    height: 100%;
    width: 100%;
    display: flex;
}

.h-header-wrapper.h-active .h-categories-container div h2 {
    font-family: var(--ff-body-bold);
    color: var(--clr-secondary-400);
    font-size: var(--fz--header-cat-title);
    opacity: 0;
    transform: scale(0.7);
    animation: zoom-in 400ms ease-in-out 400ms forwards;
}

.h-header-wrapper.h-active .h-categories-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    color: var(--clr-secondary-400);
    opacity: 0;
    transform: translateY(5rem);
    animation: fade-up 400ms ease-in-out 400ms forwards;
}

.h-header-wrapper.h-active .h-categories-list a {
    font-family: var(--ff-heading-primary);
    text-decoration: none;
    font-size: var(--fz--header-cat-list);
    color: inherit;
}


/* Animations */
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    background-image: url(../images/test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200vh;
}