.about-hero-section {
    padding-top: 10vh;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 100%), url(../images/grain.png);
}

.about-hero-bg {
    z-index: -1;
    object-fit: cover;
    transition: opacity 500ms ease-in-out;
}