:root {
    /* Font family */
    --ff-heading-primary: "Oranienbaum", serif;
    --ff-heading-secondary: "onelove", "Brush Script MT", serif;
    --ff-body-bold: "Poppins-Bold", sans-serif;
    --ff-body-regular: "Poppins-Regular", sans-serif;
    --ff-body-light: "Poppins-Light", sans-serif;

    /* Colors */
    --clr-primary-dark: #080808;
    --clr-primary-glass: rgba(0, 0, 0, 0.8);
    --clr-secondary-100: #f0f0f0;
    --clr-secondary-200: #d4d3d3;
    --clr-secondary-400: #a1a1a1;
    --clr-secondary-700: #303030;
    --clr-accent-lights: #b97508;
    --clr-accent-lights-100: #ffae00;
    --clr-accent-water: #0066ff;
    --clr-accent-water-100: #00b7ff;
    --clr-accent-summit: #53a19b;
    --clr-accent-summit-100: #8ee0c8;
    --clr-accent-history: #946b2d;
    --clr-accent-history-100: #b49367;
    --clr-accent-culture: #169b1b;
    --clr-accent-culture-100: #14cf29;

    /* Font Size */
    --fz--header-title: clamp(0.5rem, 0.9vw, 0.7rem);
    --fz--header-sub: clamp(2rem, 10vw, 3rem);  
    --fz--header-menu: clamp(0.8rem, 6vw, 2.5rem);
    --fz--header-cat-title: 20vw;
    --fz--header-cat-list: clamp(1rem, 1.5vw, 2rem);

    --fz-main-h1: clamp(2rem, 7vw, 6rem);
    --fz-main-h2: clamp(2.5rem, 7vw, 7rem);
    --fz-main-h3: clamp(1rem, 3vw, 1.3rem);
    --fz-main-p: clamp(0.8rem, 1.5vw, 1.5rem);
    --fz-main-text: clamp(0.7rem, 1vw, 1rem);
    --fz-main-small: clamp(0.6rem, 0.9vw, 1.3rem);
}

/* Animations */
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand {
    100% {
        letter-spacing: 0.3vw;
    }
}