@font-face {
    font-family: "Oranienbaum";
    src: url("../fonts/oranienbaum/Oranienbaum.ttf");
    src: url("../fonts/oranienbaum/Oranienbaum.ttf") format("truetype");
}
@font-face {
    font-family: "onelove";
    src: url("../fonts/onelove/onelove.ttf");
    src: url("../fonts/onelove/onelove.ttf") format("truetype"),
        url("../fonts/onelove/onelove.otf") format("opentype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
    src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}